extends layout

block content
  h1= title
  - let food = results
  div(class="container-fluid mt-3")
  div(class="row")
    each f,index in food
        div(class="col-sm-4" onclick=`buy(${index})`) #{f.foodquantity} - #{f.foodprice} - #{f.foodcolor}
  script.
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }