extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let foodid = toShow._id
    - let foodquantity = toShow.foodquantity
    - let foodprice = toShow.foodprice
    - let foodcolor = toShow.foodcolor
    div
      div.row
        div(class='foodAttr mr-3') Food ID is:
        div(class='foodRes') #{foodid}
      div.row
        div(class='foodAttr mr-3') Food Quantity is:
        div(class='foodRes') #{foodquantity}
      div.row
        div(class='foodAttr mr-3') Food Color is:
        div(class='foodRes') #{foodcolor}
      div.row
        div(class='foodAttr mr-3') Food Price is:
        div(class='foodRes') #{foodprice}
