extends layout

block content
  h1= title
  - let food = results
  div(class="container-fluid mt-3")
  div(class="row m-1")
    each f in food
      - let destination = `dispatch(\"/food/update?id=${f._id}\")`
      div(class="row-sm-2", class="m-1") #{f.foodquantity} - #{f.foodprice} - #{f.foodcolor}
        button.btn(class="btn-primary m1-1", onclick=destination) Update
  script.
      function dispatch(path)
      {
        window.location.href=path
      }