extends layout

block content
  h1= title

  - let foodid = toShow._id
  - let foodquantity = toShow.foodquantity
  - let foodprice = toShow.foodprice
  - let foodcolor = toShow.foodcolor
  div
    div.row
      div(class='foodAttr mr-3') Food ID is:
      div #{foodid}
    div.row
      div(class='foodAttr mr-3') Food Quantity is:
      div #{foodquantity}
    div.row
      div(class='foodAttr mr-3') Food Color is:
      div #{foodcolor}
    div.row
      div(class='foodAttr mr-3') Food Price is:
      div #{foodprice}
